<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>cesta_modificar</servlet-name>
        <servlet-class>base_de_datos.cesta_modificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cesta_enviar</servlet-name>
        <servlet-class>base_de_datos.cesta_enviar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cesta_cancelar</servlet-name>
        <servlet-class>base_de_datos.cesta_cancelar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tienda_producto</servlet-name>
        <servlet-class>base_de_datos.tienda_producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sesion_cesta</servlet-name>
        <servlet-class>base_de_datos.sesion_cesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio_sesion_cesta</servlet-name>
        <servlet-class>base_de_datos.inicio_sesion_cesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrar_sesion</servlet-name>
        <servlet-class>base_de_datos.cerrar_sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicio_sesion_tienda</servlet-name>
        <servlet-class>base_de_datos.inicio_sesion_tienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sesion_tienda</servlet-name>
        <servlet-class>base_de_datos.sesion_tienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarse</servlet-name>
        <servlet-class>base_de_datos.registrarse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cesta_modificar</servlet-name>
        <url-pattern>/cesta_modificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cesta_enviar</servlet-name>
        <url-pattern>/cesta_enviar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cesta_cancelar</servlet-name>
        <url-pattern>/cesta_cancelar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tienda_producto</servlet-name>
        <url-pattern>/tienda_producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sesion_cesta</servlet-name>
        <url-pattern>/sesion_cesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicio_sesion_cesta</servlet-name>
        <url-pattern>/inicio_sesion_cesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrar_sesion</servlet-name>
        <url-pattern>/cerrar_sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicio_sesion_tienda</servlet-name>
        <url-pattern>/inicio_sesion_tienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sesion_tienda</servlet-name>
        <url-pattern>/sesion_tienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarse</servlet-name>
        <url-pattern>/registrarse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
